[run]
branch = True

[report]

omit = 
    /Applications/*
    django/*
    api.py
    mocker.py
    settings.py
    tests.py
    tests/*
    urbanairship.py
    webtest/*

[html]
directory = coverage_html_report
